---
layout: framework
sidebar: archive-list
---

{%- if site.posts.size > 0 -%}
  {% include functions.html func='log' level='debug' msg='Get datetimes value' %}

  {% assign filter = '%Y' %}
  {% include functions.html func='get_datetimes' %}
  {% assign datetimes = return %}

  {% assign keys = datetimes | reverse %}
  {% assign field = 'date' %}

  {% for key in keys %}
    {% assign posts = site.posts | where: field, key %}
    {% for post in posts %}
      {% capture post_text %}
        {% include post.content %}
      {% endcapture %}

      <div class="post">
        <h2>{{ post.title }}</h2>
        <p>{{ post_text }}</p>
      </div>
    {% endfor %}
  {% endfor %}
{%- endif -%}

